<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">

	<title>Instagram Clone - WEB</title>

	<!-- JQuery -->
	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link href="css/style.css" rel="stylesheet">

	<script>
		$(document).ready(function () {

			function load_posts(){
				var xhr = new XMLHttpRequest();
				xhr.open('GET', 'http://localhost:8080/api');
				xhr.onload = function(){
					 if(xhr.status == 200){
						 var data = $.parseJSON(xhr.responseText);
						 data.forEach(item =>{
							$('#container_timeline').append(
								'<div class="publish">'+
									'<span class="title">'+ item.title +
										'</span>'+
										'<img src="http://localhost:8080/spool/' + item.url_image +'" />' +
										'<div class="comments" id="comments_' + item._id + '"></div>' +
										'<div class="comment">' +
													'<input tyle="text" class="form-control input_comment" id="post_'+ item._id +'" placeholder="Comment">' +
													'<button class="btn btn-success btn_post" value="' + item._id +'" type="button">Add</button>' +
											'</div>'+
										'</div>'
										);
										if (typeof item.comments != 'undefined'){
												item.comments.forEach(item2 =>{
												$('#comments_' + item._id).append(
													'<div class="txt_comment">' +
														'<button type="button" class="btn btn-default btn_remove_post" value="'+item2.id_comment+'" >X</button>' +
														item2.comment + '</div>'
												)
											})
										}
						 }
						 );

						 $('.btn_remove_post').click(function(){
							
							var xhr = new XMLHttpRequest();
							xhr.open('DELETE','http://localhost:8080/api/' + this.value)
							xhr.onload = function(){
								window.location.href="/home";
							}
							xhr.send();
						 });

						 $('.btn_post').click(function(){
							var comment = $('#post_' + this.value).val();
							
							var xhr = new XMLHttpRequest();
							xhr.open('PUT','http://localhost:8080/api/' + this.value)
							xhr.setRequestHeader('Content-Type','application/json');
							xhr.onload = function(){
								window.location.href="/home";
							}
							xhr.send(JSON.stringify({comment: comment}));
						 })
					 }
				}
				xhr.send();
			}
			
			load_posts();

			$('#btn_insert').click(function () {
				$('#container_timeline').hide();
				$('#container_form').show();
			});

			$('#btn-cancel-publish').click(function () {
				$('#container_timeline').show();
				$('#container_form').hide();
				return false;
			});

			$("#btn-publish").click(function () {
				var formData = new FormData();
				var file = document.getElementById('file').files[0];
				var title = document.getElementById('title').value;
				formData.append("file", file);
				formData.append("title", title);

				var xhr = new XMLHttpRequest();

				xhr.onreadystatechange = function () {
					if (xhr.readyState == 4) {
						var response = xhr.responseText;
						document.getElementById('message').innerHTML = response;
					}
				}

				xhr.open("POST", "http://localhost:8080/api");
				xhr.send(formData);
			});
		});
	</script>

</head>

<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="col-md-12">
				<div class="container-fluid">
					<img alt="Instagram Clone - Version WEB" src="images/logo2.jpg" class="logo2">
					<img alt="Insert" src="images/include.jpg" class="pull-right btn-insert" id="btn_insert">
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="col-md-2"></div>
		<div class="col-md-8" id="container_timeline"></div>

	</div>


	<div class="container" style="display:none" id="container_form">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h4>Publish photo</h4>
			</div>

			<div class="panel-body">
				<div class="form-group">
					<input type="file" name="file" id="file" class="form-control">
				</div>

				<div class="form-group">
					<input type="text" name="title" id="title" class="form-control" placeholder="Title" autocomplete="off">
				</div>

				<div class="form-group">
					<button class="btn btn-success" id="btn-publish">Publish</button>
					<button class="btn btn-danger" id="btn-cancel-publish">Cancel</button>
				</div>
				<div id="message"></div>
			</div>
		</div>
</body>

</html>